@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.cursor-pointer {
  cursor: pointer !important;
}

@theme {
  --animate-ping-large: ping-large 1s ease-in-out infinite;
  --animate-move-left: move-left 30s linear infinite;
  --animate-move-right: move-right 30s linear infinite;

  @keyframes ping-large {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    75%,
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  @keyframes move-left {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes move-right {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

@layer base {

  html {
    scroll-behavior: smooth;
  }

  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5
  }
}

@layer utilities {
  .container {
    @apply w-full max-w-5xl mx-auto px-6 sm:px-8 lg:px-10;
  }

  .mask-fade {
    mask-image: linear-gradient(90deg, transparent 0%, black 12%, black 88%, transparent 100%);
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 12%, black 88%, transparent 100%);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
  }
}